@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    transition:
      background-color 0.5s,
      color 0.5s;
  }
  
  @layer base {
    body {
      @apply mx-auto min-h-screen w-[375px] max-w-[1440px] scroll-smooth bg-lightGrey bg-backgroundMobileLight bg-cover text-darkNavy dark:bg-darkNavy dark:bg-backgroundMobileDark dark:text-white sm:w-full sm:bg-backgroundTabletLight dark:sm:bg-backgroundTabletDark md:max-w-[768px] lg:bg-backgroundDesktopLight dark:lg:bg-backgroundDesktopDark xl:max-w-[1160px];
    }
  }

  